




body{
    display: block;
    text-align: center;
    justify-content: center;
    widows: initial;
    max-width: 100%;
    max-height: 100px;
    

}

@media screen {
    body{
        min-width: 20%;
        min-height: 55px;
    

    }
}
h2{
    text-align: center;
    justify-content: center;
}


#nav{
    display: -webkit-flex;
    flex-wrap: wrap;
    gap: 5px;
}

h1{
    
    display: block;
    color: rgb(123, 167, 179);
    margin-right: 70px;
    margin-bottom: 30px;
    margin-left: 70px;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    text-decoration: aliceblue;
    text-overflow: initial;
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant-numeric: ordinal;
    box-shadow: 0 0 5px rgb(80, 77, 73);
}

#h2-container{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 1.1vw;
    margin-left: 7px;
    padding-left: none;
    padding-right: none;
    margin-right: none;
    padding-top: 40px;
    width: 400px;
    color: rgb(147, 188, 35);
}

@media screen {

    #h2-container{
        margin-left: 40vh;
        margin-right: 30px;
        margin-top: 90px;
    
    } 
    
    
}

#big-container1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1vmin;
}

#big-container2{
    display: flex;
    margin-top: 70px;
    margin-left: 40px;
    justify-content: center;
    text-align: center;
}

#Miles{
    display: block;
    height: 5vh;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    margin-bottom:23px ;
    box-shadow: 0 0 10px  rgb(14, 15, 14);
    outline: none;
    cursor: pointer;

}


#Kilometer{
    display: block;
    height: 5vh;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    margin-bottom: 23px;
    border: none;
    box-shadow: 0 0 10px rgb(15, 15, 14);
    outline: none;
    cursor: pointer;
    
}

h3{
    display: block;
    float: right;
    text-align: right;
    justify-content: right;
}

#h3-container{
    display: block;
    font-size: 1.4vw;
    justify-content: center;
    text-align: center;
    margin-right: 55px;
    padding-top: 4px;
    padding-left: none;
    padding-right: none;
    margin-right: none;
    margin-bottom: 12px;
    margin-left: 30px;
    color: rgb(235, 126, 43);
}

@media screen {
    #h3-container{
        margin-left: 50px;
    }
}

@media screen {
    #h2{
        display: flex;
        margin-left: 80px;
        text-align: center;
        justify-content: center;
    }
}



#container1{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: none;
    padding-left: none;
    background-color: aqua;
    width: fit-content;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 10px;
    margin-right:2px ;
    font-size: 3vw;
    color:rgb(65, 13, 109);

}

@media screen {
    #container1{
        margin-left: none;
    }   
}




#container2{
display: block;
font-size: 3vw;
text-align: center;
margin-left: none;
padding-left: none;
background-color: rgb(172, 86, 12);
width: fit-content;
padding-top: 3px;
padding-bottom: 4px;
padding-right: 3px;
padding-left: 3px;
margin-top: 83px;
margin-left: 11px;
color:rgb(65, 13, 109);
    
    
    
    
    
    
    
    
    
}




#kilo{
    display: block;
    color:blueviolet;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 67px;
    margin-right: 180px;
    margin-left: 1px;
}

#mile{
    display: block;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 67px;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
}

#miltokilo-container{
    display: block;
    margin-top: 70px;
    justify-content: center;
    text-align: center;



    
}




#milestokilometer{
    display: block;
    padding-right: none;
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 13px;
    margin-top: 30px;
    padding-bottom: 40px;
    width: 150px;
    height:20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(134, 249, 239);
    box-shadow: 0 0 9px rgb(166, 158, 149);
    font-size: 3vw;
    color: rgb(67, 61, 54);
}

@media screen  {
    #milestokilometer{
        margin-right: 200px;
    }
}

#milestokilometer{
    animation-name: milestokilometer;
    animation-duration: 1s;
}

@keyframes milestokilometer{
    from{
        opacity: 0.1;
    }

    to{
        opacity: 1;
    }
}


#kilometertomile{

    animation-name: kilometertomiles;
    animation-duration: 1s;
}

@keyframes kilometertomiles{
    from{
        opacity: 0.1;
    }

    to{
        opacity: 1;
    }
}


#kilotomile-container{
    display: block;
    justify-content: center;
    text-align: center;

}

#kilometertomiles{
    display: block;
    padding-top: 12px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 3vw;
    margin-right: 30px;
    height:70px;
    background-color: brown;
    box-shadow: 0 0 9px rgb(57, 57, 67);
    text-align: center;
    color:rgb(37, 35, 32)
}


#btnmile{
    display: block;
    float: right;
    justify-content: center;
    margin-top: 5vh;
    margin-right: 55px;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(214, 122, 10);
    height: 60px;
    width: 20vh;
    cursor: pointer;
}

#btnkilo{
    display: block;
    justify-content: center;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 20px ;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(83, 130, 13);
    height: 60px;
    width: 20vh ;
    cursor: pointer;

}

#navbar-kilotomile{
    display: block;
    float: right;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 100px;
    margin-right: 120px;
    margin-bottom: 1px;
    width: fit-content;
    font-size: 16px;
    color: aqua;
    background-color: rgb(33, 36, 35);
    box-shadow: 0 0 10px rgb(31, 28, 28);
}

.km{
    display: block;
    text-align: center;
    cursor: pointer;
}

#navbar-metertoinch{
    display: block;
    float: right;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-left: 100px;
    margin-right: 100px;
    width: fit-content;
    font-size: 16px;
    color: aqua;
    background-color: rgb(33, 36, 35);
    box-shadow: 0 0 10px rgb(29, 27, 27);
}

.mi{
    display: block;
    text-align: center;
    cursor: pointer;
}

#navbar-fartocell{
    display: block;
    float: right;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-left: 100px;
    margin-right: 100px;
    width: fit-content;
    font-size: 16px;
    color: aqua;
    background-color: rgb(33, 36, 35);
    box-shadow: 0 0 10px rgb(31, 28, 28);
}

.fc{
    display: block;
    text-align: center;
    cursor: pointer;
}

#navbarfeettoyards{
    display: block;
    float: right;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-left: 100px;
    margin-right: 100px;
    width: fit-content;
    font-size: 16px;
    color: aqua;
    background-color: rgb(33, 36, 35);
    box-shadow: 0 0 10px rgb(30, 30, 34);
}

.fy{
    display: block;
    text-align: center;
    cursor: pointer;
}

 
 
 
 
 
 
 
 
 
 
 
 


 
 
 
